h1{

}

p{
  max-width: 50%;
  text-align: justify;
}

aside{
  width: 22%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
  
.user{
    height: 54px;
    width: 54px
}

form fieldset input{
  margin-bottom: 10px;
  width: 15%;
  line-height: 5mm;
}

textarea{
  position: relative;
  left: 20%;
  top: 20%;
}